$border-radius: 14px;

//Colors
$purple-standard: #7357ba;
$purple-old: #540ff7;
$green-color: #3dbf39;
$red-color: #ed2436;
$success-green: #4BB543;
$gray-font: #86868b;
$theme-first: #DA4453;
$theme-second: #9E258A; //old: #89216B
$blue-color: #2a80d6;

$box-shadow: 0 3px 6px rgba(0, 0, 0, 0.18);



$btn-gradient: linear-gradient(to left, #0D9634, #41E296);
$theme-gradient: linear-gradient(to left, #0D9634, #41E296);
$blue-gradient: linear-gradient(to right, #5faaf4, #2a80d6);
$red-gradient: linear-gradient(to right, #ed2436, #DA4453);
$video-gradient: linear-gradient(to right, rgba(13, 150, 52, 0.5), rgba(65, 226, 150, 0.5));
$video2-gradient: linear-gradient(to right, rgba(95, 170, 244, 0.5), rgba(42, 128, 214, 0.5));
